

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .color1{background-color:#ffa720;}
   .color2{background-color:#e84f0c;}
   .color3{background-color:#ff0000;}
   .color4{background-color:#e20ce8;}
   .color5{background-color:#6e0dff;}
   .color6{background-color:#ffbacd;}
   .color7{background-color:#e8c17a;}
   
















